@model MemberPasswordModel

@{
    ViewBag.PageTitle = "ویرایش رمز کاربر";
}

<form asp-action="ChangePassword">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
            </div>
            <h4 class="panel-title" style="font-weight: normal; font-size: 15px;">عملیات</h4>
        </div>
        <div class="panel-body">
            <div class="content-header clearfix" style="font-weight:lighter">
                <h4 class="float-right">
                    ویرایش رمز عبور کاربر
                    <admin-button-back asp-action="List" />
                </h4>
                <div class="float-left">
                    <admin-button-save name="save" text="ذخیره" />
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>

        </div>
    </div>
    <admin-panel asp-name="user-pass" asp-icon="fa fa-key" asp-title="رمزعبور کاربر">
        <div class="form-group row">
            <admin-label asp-for="Password" />
            <div class="col-md-9">
                <admin-input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <admin-label asp-for="ConfirmPassword" />
            <div class="col-md-9">
                <admin-input asp-for="ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </admin-panel>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
