@model IEnumerable<RoleModel>

@{
    ViewBag.PageTitle = "نقش های کاربران";
}
@section Styles {
    
}

<admin-panel asp-name="user-operation" asp-icon="fas fa-cog" asp-title="عملیات">
    <security-trimming asp-area="Admin" asp-controller="Role" asp-action="Create">
        <div class="col-sm-6 col-md-2">
            <a asp-action="Create" class="btn btn-success btn-block"><i class="fa fa-plus"></i> جدید</a>
        </div>
    </security-trimming>
</admin-panel>

<admin-panel asp-name="role-list" asp-icon="far fa-list-alt" asp-title="لیست نقش ها">
    <table id="tblList" class="table table-striped table-bordered data-table">
        <thead>
            <tr>
                <th>ردیف</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th width="100">عملیات</th>
            </tr>
        </thead>
    </table>
</admin-panel>

@section Scripts {
    <script>
        var listData = JSON.parse("@Html.Raw(HttpUtility.JavaScriptStringEncode(JsonConvert.SerializeObject(Model)))");
        var dataTableButtons;

        function initTable() {
            dataTableButtons = $('#tblList').DataTable({
                data: listData,
                columns: [
                    {
                        mData: null,
                        className: "text-center",
                        mRender: function (data, type, full, meta) {
                            return meta.row + 1;
                        }
                    },
                    { data: "Name" },
                    { data: "Description" },
                    {
                        mData: null,
                        className: "text-center",
                        bSortable: false,
                        mRender: function (data, type, full) {
                            var r = "<span></span>";
                            @{
                                <security-trimming asp-area="Admin" asp-controller="Role" asp-action="Edit">
                                    r += '<a href="Edit/' + full.Id + '" class="btn btn-success mb-2" title="ویرایش نقش"><i class="fas fa-pen fa-lg"></i></a> ';
                                </security-trimming >
                                <security-trimming asp-area="Admin" asp-controller="Role" asp-action="RoleClaimsManager">
                                    r += '<a href="roleclaimsmanager/' + full.Id + '" class="btn btn-info mb-2" title="ویرایش سطح دسترسی"><i class="fas fa-user-lock"></i></a> ';
                                </security-trimming>
                            }
                            return r;
                        }
                    }
                ],
                dom: "lBfrtip",
                buttons: [{ extend: "copy", className: "btn-sm" }, { extend: "csv", className: "btn-sm" }, { extend: "excel", className: "btn-sm" }, { extend: "pdf", className: "btn-sm" }, { extend: "print", className: "btn-sm" }],
                responsive: 0,
                stateSave: true,
                "language": {
                    "url": "../../../lib/DataTables/Persian.json"
                },
            });
        }
        initTable();
    </script>
}