
  .ico {
    margin: 5px;
    color: white;
  }
  a {
    color: white;
  }

  .vip {
    width: 35px;
    height: 20px;
    text-align: center;
    color: white;
    background-color: #1170f5;
    border-radius: 5px;
    z-index: 100;
    font-size: 11px;
    margin: 10px;
  }
  #stars {
    position: absolute;
    z-index: 300;
    left: 5%;
    top: 30%;
  }

  .carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  #social_holder{
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
    cursor: pointer;
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }

  #call_icon{
    width: 33px;
    margin: 5px;
    height: 33px;
    border-radius: 100%;
    background-color: #ab042b;
    display: flex;
    justify-content: center;
  }

  #fb_icon{
    width: 33px;
    margin: 5px;
    height: 33px;
    border-radius: 100%;
    background-color: #0481ab;
    display: flex;
    justify-content: center;
  }

  #instagram_icon{
    width: 33px;
    margin: 5px;
    height: 33px;
    border-radius: 100%;
    background-color: #ab046e;
    display: flex;
    justify-content: center;
  }

  #wa_icon{
    width: 33px;
    margin: 5px;
    height: 33px;
    border-radius: 100%;
    background-color: #04ab47;
    display: flex;
    justify-content: center;
  }

  #back_btn{
    position: absolute;
    z-index: 300; 
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.4;
    text-align: center;
    color: black;
    left: 80%;
    margin: 15px;
  }

  #like_btn{
    position: absolute;
    z-index: 300; 
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.4;
    text-align: center;
    color: black;
    left: 15%;
    margin: 15px;
  }

  #share_btn{
    position: absolute;
    z-index: 300; 
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.4;
    text-align: center;
    color: black;
    left: 5%;
    margin: 15px;
  }


  #back_btn:hover, #like_btn:hover, #share_btn:hover{
    opacity: 1;
  }

  svg:hover{
    color:yellow;
  }

  #bottom_items{
    position: absolute;
    z-index: 300; 
    padding: 3px;
    direction: rtl;
    margin: 15px;
    top: 140px;
    left: 50%;
  }

  @media (max-width:320px){
    #bottom_items{
      top: 140px;
      left: 50%;
    }
  }

  @media (min-width:320px) and (max-width:350px){
    #stars{
      top: 200px;
    }
  }

  @media (min-width:350px) and (max-width:380px){
    #bottom_items{
      top: 170px;
      left: 55%;
    }
    #stars{
      top:220px;
    }
  }

  @media (min-width:380px) and (max-width:400px){
    #bottom_items{
      top: 190px;
      left: 60%;
    }
    #stars{
      top:245px;
    }
  }

  @media (min-width:400px) and (max-width:440px){
    #bottom_items{
      top: 210px;
      left: 60%;
    }

    #stars{
      top:265px;
    }
  }

  @media (min-width:440px) and (max-width:480px){
    #bottom_items{
      top: 230px;
      left: 65%;
    }

    #stars{
      top:285px;
    }
  }

  @media (min-width:481px){
    #bottom_items{
      display: none;
    }

    #stars{
      display: none;
    }
  }