@model NakhleNakhoda.Data.Models.DB.User.User

<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما در  مجموعه ی گردشگری بوم گردب نخل ناخدا ، جهت ادامه کار میبایست حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="http://nakhlenakhoda.ir/Account/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری</a>
    </p>
    </div>
