
<div style="background-color:#edc9af !important;font-family: yekan !important;" class="theme-footer" id="mainFooter">
    <div class="container _ph-mob-0">
        <div class="row row-eq-height row-mob-full" data-gutter="60">
            <div class="col-md-6 col-lg-3">
                <div class="theme-footer-section theme-footer-">
                    <a class="theme-footer-brand _mb-mob-30" href="#">
                        <img src="/Ghaleb/img/img/logo2.png" alt="Image Alternative text" title="Image Title" />
                    </a>
                    <div style="color:black !important;" class="theme-footer-brand-text">
                        <p>مجموعه ی بوم گردی گردشگری نخل ناخدا با ارائه بهترین و با کیفیت ترین خدمات گردشگری به صورت آنلاین می کوشد تا به عنوان معتبرترین مجموعه ی گردشگری در ایران، تجربه ی لذت بخش یک رزرو اینترنتی را برایتان تداعی کند. شما در هر کجای دنیا که باشید، در هر ساعت از شبانه روز می توانید از طریق سایت رزرو خود را انجام دهید با ارزان ترین قیمت و به آسانی با چند کلیک ساده.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="theme-footer-section theme-footer-">
                            <h5 class="theme-footer-section-title">نخل ناخدا</h5>
                            <ul class="theme-footer-section-list">
                                <li>
                                    <a asp-controller="home" asp-action="index">صفحه ی اصلی</a>
                                </li>
                                <li>
                                    <a asp-controller="home" asp-action="about">درباره ما</a>
                                </li>
                                <li>
                                    <a asp-controller="home" asp-action="getallhotels">اتاق ها</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="theme-footer-section theme-footer-">
                            <ul class="theme-footer-section-list">
                                <li> 
                                        <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=320459&amp;Code=LdPJ4fbRlvnrL7d0yQpT"><img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=320459&amp;Code=LdPJ4fbRlvnrL7d0yQpT" alt="" style="cursor:pointer" id="LdPJ4fbRlvnrL7d0yQpT"></a>
                                        <img style="width:300px;height:200px;" src="~/enamad.png" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="theme-footer-section theme-footer-">
                    <h5 class="theme-footer-section-title">کمک میخواهید؟</h5>
                    <ul style="font-family: yekan !important;" class="theme-footer-section-list">
                        <li>
                            <a href="#"><i style="font-size:20px !important; " class="fa fa-map-marker"></i>استان هرمزگان - جزیره ی قشم - 55 کیلومتری نرسیده به بندر طبل</a>
                        </li>
                        <li>
                            <a href="tel:09177607217">تلفن: 09177607217</a>
                        </li>
                        <li>
                            <a href="tel:09176171017">تلفن: 09176171017</a>
                        </li>
                        <li>
                            <a href="#">پست الکترونیکی :info@NakhleNakhoda.ir  </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="theme-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="theme-copyright-text">کلیه حقوق این سایت محفوظ و متعلق به هتل بوم گردی گردشگری نخل ناخدا می باشد.</p>
            </div>
            <div class="col-md-6">
                <ul class="theme-copyright-social">
                    <li>
                        <a class="fa fa-facebook" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-google" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-youtube-play" href="#"></a>
                    </li>
                    <li>
                        <a class="fa fa-instagram" href="https://wwww.instagram.com/nakhlenakhoda_com/"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>