@model Member

<ul class="dropdown-menu">
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Profile" class="nav-link">
            <i class="fas fa-user-secret mt-1 me-2"></i>
            اطلاعات حساب کاربری
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Logout" class="nav-link">
            <i class="fas fa-power-off mb-1 me-2"></i>
            خروج از حساب کاربری
        </a>
    </li>
</ul>
