<div class="theme-page-section theme-page-section-xxl">
    <div class="container">
        <div class="row row-col-mob-gap" data-gutter="60">
            <div class="col-md-3 ">
                <div class="feature">
                    <i class="feature-icon feature-icon-gray feature-icon-box feature-icon-round fa fa-money"></i>
                    <div class="feature-caption _op-07">
                        <h5 class="feature-title">بهترین گارانتی قیمت</h5>
                        <p class="feature-subtitle"> کمترین قیمت و با کیفیت ترین خدمات</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="feature">
                    <i class="feature-icon feature-icon-gray feature-icon-box feature-icon-round fa fa-credit-card"></i>
                    <div class="feature-caption _op-07">
                        <h5 class="feature-title">دسترسی آسان </h5>
                        <p class="feature-subtitle">
                            ساده‌ترین و سریع‌ترین راه
                            برای جستجو، رزرو و استرداد اتاق
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="feature">
                    <i class="feature-icon feature-icon-gray feature-icon-box feature-icon-round fa fa-comments-o"></i>
                    <div class="feature-caption _op-07">
                        <h5 class="feature-title">پشتییبانی 24 ساعته</h5>
                        <p class="feature-subtitle">با پشتیبانی 24 ساعته، سفری با خیال آسوده را تجربه کنید.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>